
body {
  background-color: darkgreen;
}

#board {
  width: 900px;
  height: 500px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}
.paddle {
 
  width: 30px;
  height: 150px;
  border-radius: 15px;
  position: absolute;
}

#paddleLeft {
  background-color: rgb(255, 255, 255);
   left: 10px;  /*Uncomment if you want to set a "starting" position */
  top: 150px;    /* Uncomment if you want to set a "starting" position */
}
#paddleRight {
  background-color: rgb(255, 255, 255);
  left: 860px;  /*Uncomment if you want to set a "starting" position */
  top: 150px;    /* Uncomment if you want to set a "starting" position */
}
#ball {
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 435px;
  top: 220px;

}
