
body {
  background-color: rgb(241, 93, 19);
}

#board {
  width: 900px;
  height: 500px;
  left: 500px;
  top: 200px;
  border: 10px solid white;
  background-color: black;
  position: relative;
}
.paddle {
 
  width: 30px;
  height: 150px;
  border-radius: 15px;
  position: absolute;
}

#paddleLeft {
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(25, 13, 238);
  border-radius: 2px;
  left: 10px;  /*Uncomment if you want to set a "starting" position */
  top: 150px;    /* Uncomment if you want to set a "starting" position */
}
#paddleRight {
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(228, 5, 5);
  border-radius: 0px;
  left: 860px;  /*Uncomment if you want to set a "starting" position */
  top: 150px;    /* Uncomment if you want to set a "starting" position */
}
#ball {
  background-color: rgb(245, 96, 22);
  width: 20px;
  height: 20px;
  border-radius: 50px;
  position: absolute;
  left: 435px;
  top: 220px;

}
.title{
  position: absolute;
  left: 600px; 
  top: -50px;
  font-size: 100px;
}
#scoreLeft {
  position: absolute;
  left: 0px; 
  top: 520px;
  font-size: 90px;
}

#scoreRight{
  position: absolute;
  left: 850px; 
  top: 520px;
  font-size: 90px;
}

#playAgainButton {
  position: absolute;
    left: 375px;
    top: 200px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
  
}
